@{
    ViewData["Title"] = "Login Page";
}
<div class="text-center">
    <h1 class="display-4">Login Page</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Login to Proceed</a>.</p>
</div>
<Div Margin="Margin.IsAuto.OnX" Width="Width.Is50">
    <Heading Size="HeadingSize.Is2" Margin="Margin.Is3.FromBottom" TextAlignment="TextAlignment.Center">
        Sign in to your account
    </Heading>
    
    <div>

        <form method="post">
            <table>
    <tr>
        <td> UserId:</td>
        <td><input type="text" /></td>
    </tr>
     <tr>
        <td> Password:</td>
        <td><input type="password" /></td>
    </tr>
 <tr>
     <td>
          <input type="submit" />
     </td>
     <td>
          <input type="reset" />
     </td>
 </tr>
</table>
    
   
    
   

   
</form>
</Div>
